.main-container{
    width: 100%;
    aspect-ratio: 5/2;
    margin: auto;
    overflow-x: hidden;
overflow-y: scroll;
scroll-snap-type: y mandatory;
}
.message-container {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.left-message {
    background-color: #e1e1e1;
    align-self: flex-start; 
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.right-message {
    background-color: #13B5EA;
    align-self: flex-end; 
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}
.message {
     padding: 10px;
     border-radius: 8px;
     
     width: 40% ;
    }